name: pytest-coverage-comment
on:
  pull_request:
    branches:
      - '*'
permissions:
  contents: write
  checks: write
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            version: '0.5.4'
            enable-cache: true
    
      - name: Install dependencies
        run: uv sync

      - name: Build coverage file
        run: uv run pytest --junitxml=pytest.xml  tests | tee pytest-coverage.txt

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml